{% extends 'bootstrap/base.html' %}
{% block title %}About{% endblock %}
{% block styles %}
{{super()}}
<link rel="icon" href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon">
{% endblock %}

{% block content %}
{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About</h1>
            <span class="subheading">Build For A Cause</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Dummy Blog's is a blogging platform in which one can authenticate and post their own blogs.</p>
        <p>Considering other blog websites, this website might be a simpler one with very less features.</p>
        <p>For now, I have created this dummy website, feel free to contribute or contact me :)</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}
{% endblock %}