{% extends 'bootstrap/base.html' %}
{% block title %}Posts{% endblock %}

{% block styles %}
{{super()}}
<link rel="icon" href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon">
{% endblock %}

{% block content %}
{% include "header.html" %}
<header class="masthead" style="background-image: url({{ url_for('static', filename='img/blue-bg.png') }})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            {% if posts == []: %}
            <h1>{{current_user.name}} Blog's</h1>
            {% else %}
            <h1>{{posts[0].author.name}} Blog's</h1>
            {% endif %}
            <span class="subheading">A collection of random musings.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

<!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for post in posts %}
        <div class="post-preview">
          <a href="{{ url_for('show_post', post_id=post.id) }}">
            <h2 class="post-title">
              {{post.title}}
            </h2>
            <h3 class="post-subtitle">
              {{post.subtitle}}
            </h3>
          </a>
          <p class="post-meta">Posted by
            {{post.author.name}}
            on {{post.date}}
            {% if post.author.name == current_user.name %}
            <a href="{{url_for('delete_post', post_id=post.id) }}">✘</a>
            {% endif %}
          </p>
        </div>
        {% endfor %}
          <!-- New Post -->
        {% if posts == []: %}
        <div class="clearfix">
          <p class="post-meta">There are no posts from you, Create one now!</p>
          <a class="btn btn-primary float-right" href="{{url_for('add_new_post')}}">Create New Post</a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  <hr>

{% include "footer.html" %}
{% endblock %}